/*@charset "utf-8";*/
/* CSS Document */

table
{
	border-collapse: collapse;
	width: 85%;
	border: 0.5px solid #000;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}

textarea
{
	/*resize:none;*/
}

table textarea
{
	width:99%;
}

th
{
	/*width:50%;*/
}
